@model ArtGalleryECommerce.Models.ViewModels.UserCartViewModel

<a class="nav-link last-menu-item has-dropdown-toggle dropdown-toggle" href="#x" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shopping Cart<span class="count count-primary">@Model.ViewModelUserCarts.Count</span></a>
<div class="dropdown-menu animated fadeIn fast" aria-labelledby="dropdown3">

    
    @foreach (var item in Model.ViewModelUserCarts)
    {
        <div class="cart-small">
            <img src="@item.Image" alt="">
            <p><a href="#x" class="text-black">@item.ProductName</a> <br> <span>₺@item.Price</span></p>
            <a asp-controller="Home" asp-action="DeleteFromCart" asp-route-productID="@item.ProductID"> <i class="md-icon dp14 close-icon">close</i></a>
        </div><!-- / cart-small -->
    }

    @*<div class="cart-small">
            <img src="images/product-small1.jpg" alt="">
            <p><a href="#x" class="text-black">Amazing Framed Art</a> <br> <span>1 x $29.99</span></p>
            <a href="#x"> <i class="md-icon dp14 close-icon">close</i></a>
        </div>*@<!-- / cart-small -->
    @*<div class="cart-small">
            <img src="images/product-small2.jpg" alt="">
            <p><a href="#x" class="text-black">Printed Photography</a> <br> <span>1 x $14.99</span></p>
            <a href="#x"> <i class="md-icon dp14 close-icon">close</i></a>
        </div>*@<!-- / cart-small -->

    <p class="text-left cart-small-total"><b>Toplam: ₺@Model.ViewModelUserCarts.Sum(x => x.Price)</b></p>
    <div class="cart-small-footer text-center">
        <div class="row">
            <div class="col-sm-6">
                <a asp-action="Index" asp-controller="Cart" class="mini-cart-btn"><i class="md-icon dp12 mr-1">shopping_cart</i> <span class="va-middle"><b>VIEW CART</b></span></a>
            </div><!-- / column -->
            <div class="col-sm-6">
                <a asp-controller="Checkout" asp-action="Index" class="mini-cart-btn mb-0"><i class="md-icon dp12 mr-1">exit_to_app</i> <span class="va-middle"><b>CHECKOUT</b></span></a>
            </div><!-- / column -->
        </div><!-- / row -->
    </div><!-- / cart-small-footer -->
</div><!-- / dropdown-menu -->