@model ArtGalleryECommerce.Models.ViewModels.ProductTypeViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<h4>ProductTypeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ProductTypeID" class="control-label"></label>
                <select asp-for="ProductTypeID" class ="form-control" asp-items="ViewBag.ProductTypeID"></select>
            </div>*@
            @*<div class="form-group">
                <label asp-for="SelectedProductTypeID" class="control-label"></label>
                <input asp-for="SelectedProductTypeID" class="form-control" />
                <span asp-validation-for="SelectedProductTypeID" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="SelectedProductTypeName" class="control-label"></label>
                <input asp-for="SelectedProductTypeName" class="form-control" />
                <span asp-validation-for="SelectedProductTypeName" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

