@model ArtGalleryECommerce.Models.ViewModels.UserCartViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="spacer-2x">&nbsp;</div>
@if (Model.ViewModelUserCarts.Sum(x => x.Price) == 0)
{
    <div class="container"><h2>Sepetinizde ürün bulunmuyor.</h2></div>
}
else
{
    <div class="container">



        <table class="shopping-cart">
            <thead>
                <tr>
                    <th class="image">&nbsp;</th>
                    <th>PRODUCT</th>
                    <th>PRICE</th>
                    @*<th>QUANTITY</th>*@
                    @*<th>TOTAL</th>*@
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ViewModelUserCarts)
                {


                    <tr class="cart-item">
                        <td class="image"><a href="#"><img src="@item.Image" alt=""></a></td>
                        <td><a href="#x"><b>@item.ProductName</b></a></td>
                        <td>₺@item.Price</td>
                        @*<td class="qty"><input type="number" step="1" min="0" name="cart" value="1" title="Qty" class="form-control qty" size="4"></td>*@
                        @*<td>$29.99</td>*@
                        <td class="remove"><a asp-action="DeleteFromCart" asp-controller="Cart" asp-route-productID="@item.ProductID" class="btn btn-danger-filled x-remove">×</a></td>
                    </tr>
                }
                @*<tr class="cart-item">
                        <td class="image"><a href="#"><img src="images/product-small2.jpg" alt=""></a></td>
                        <td><a href="#x"><b>Printed Photography</b></a></td>
                        <td>$14.99</td>
                        <td class="qty"><input type="number" step="1" min="0" name="cart" value="1" title="Qty" class="form-control qty" size="4"></td>
                        <td>$14.99</td>
                        <td class="remove"><a href="#x" class="btn btn-danger-filled x-remove">×</a></td>
                    </tr>*@
            </tbody>
        </table>

    </div><!-- / container -->

    <div class="spacer-2x">&nbsp;</div>

    <section id="cart-features" class="bg-white">
        <div class="container">
            <div class="row cart-footer">
                @*<div class="coupon col-md-6 mt-1 mb-1">
                    @*<div class="input-group">
                        <input type="text" class="form-control form-control-sm" id="coupon-code" placeholder="Coupon Code">
                        <span class="input-group-btn">
                            <button class="btn btn-black rectangle ml-3" type="button"><span>APPLY COUPON</span></button>
                        </span>
                    </div>*@
                @*</div>
                    @*<div class="update-cart col-md-6 mt-1 mb-1">
                        <button class="btn btn-black rectangle" type="submit"><span>UPDATE CART</span></button>
                    </div>*@<!-- / update-cart -->

                <div class="col-md-6 cart-total">
                    <h4 class="pb-3">CART TOTAL</h4>
                    @*<p>Subtotal: <span class="text-primary">$44.98</span></p>
                        <p>Shippping: <span class="text-primary">$5</span></p>*@
                    <p>Total: <span class="text-primary">₺@Model.ViewModelUserCarts.Sum(x => x.Price)</span></p>
                </div><!-- / cart-total -->

                <div class="col-md-6 cart-checkout">
                    <a asp-action="Index" asp-controller="Checkout" class="btn btn-black rectangle mt-1 mb-1"><i class="lnr lnr-exit"></i> <span>PROCEED TO CHECKOUT</span></a>
                </div><!-- / cart-checkout -->
            </div>
        </div><!-- / container -->
    </section><!-- / cart-features -->
}
