
@{
    ViewData["Title"] = "LogoutView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container mt-5 mb-5">
    <h2>Çıkış işleminiz tamamlandı.</h2>

    <a asp-controller="Home" asp-action="Index">Ana sayfaya dönmek için tıklayın</a>
</div>