
@{
    ViewData["Title"] = "NewRegistrationView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container mt-5 mb-5">
    <h2>Kullanıcı kaydınız başarıyla oluşturuldu ve kullanıcı bilgileriniz E-postanıza iletildi. Lütfen E-postanızı kontrol edin.</h2>

    <a asp-controller="Home" asp-action="Index">Ana sayfaya dönmek için tıklayın</a>
</div>