
@{
    ViewData["Title"] = "OrderReceived";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container mt-5 mb-5">
    <h2>Siparişiniz bize ulaşmıştır. Detaylar mail ile tarafınıza yollandı. Siparişinizin durumunu sayfanızdan kontrol edebilirsiniz.</h2>

    <a asp-controller="Home" asp-action="Index">Ana sayfaya dönmek için tıklayın</a>
</div>